body{
    background-color: white;


    font-family: Helvetica, Arial, sans-serif;

    padding: 40px 6% 40px 6%;
}

.center {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Page title, header, etc */
.title {
    display: flex;
}
.title img {
    height: 120px;
}
.text {
    padding-left: 40px;
    color: #545e8c;
}
.text p {
    font-size: 20px;
}
.text h2 {
    font-size: 28px;
}
h1 {
    font-size: 64px;
    font-weight: lighter;
}

/* The concert information */
.concertGrid {
    display: flex;
    justify-content: center;
    height: 736px;
    margin-top: 40px;
}
.concertRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.concertBox {
    width: 48%;
    height: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url("img/Vivaldi.jpg");
    background-size: cover;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} 
.concertBoxViewMore {
    width: 94%;
    height: 624px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(255,255,255,0.9);
    opacity: 0;
    padding: 3%;

    transition: opacity 1s;
}
.concertBoxViewMore:hover {
    opacity: 1;
}
.rowShow {
    display: flex;
    background-image: url("img/showName.png");
}
.showDescription{
    font-size: 18px;
    margin: 0;
    text-indent: 0.5in;
}
.infoRow {
    display: flex;
    width: 100%;
}
.infoRowNames{
    font-size: 18px;
    width: 70%;
    margin: 0;
    margin-top: 20px;
}
.infoRowTitle{
    font-size: 18px;
    font-weight: bold;
    width: 30%;
    margin: 0;
    margin-top: 20px;
}
.showCol {
    display: flex;
    flex-direction: column;
}
.showName {
    font-size: 24px;
    font-weight: bold;
    width: 74%;
    height: 60px;
    padding: 10px 20px 10px 20px;
    text-align: left;
    margin: 0;
    display: flex;
    align-items: center;
}
.dateBox {
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    background-image: url("img/circle.png");
    background-repeat: no-repeat;
    margin: 6px;
}
.date {
    color: black;
    text-align: center;
    margin: 0;
    height: 100%;
}
.date p{
    font-size: 24px;
    margin: 0;
    padding: 0;
    height: 40px;
    padding-top: 20px;
}
.dateSmall p{
    font-size: 18px;
    margin: 0;
    padding: 0;
    height: 18px;
    padding-bottom: 22px;
}

.time {
    width: 100%;
    height: 32px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    max-width: 300px;
}
.time p {
    margin: 0;
    color: #fbe1ed;
}

.backToTop {
    position:fixed;
    bottom: 3%;
    right: 6%;
    width: 80px;
    height: 80px;
    font-size: 16px;
    border-color:#545e8c;
    border-radius: 50%;
    border-color: rgba(0,0,0,0);
    background-color:#fbe1ed;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.backToTop:hover {
    background-color:#545e8c;
    color: white;
}

@media screen and (max-width: 600px) {

    body {
        padding: 6% 6% 6% 6%;
    }

    .title {
        display: flex;
        flex-direction: column;
    }
    .title img {
        height: auto;
    }
    .text {
        padding-left: 0;
        text-align: left;
    }
    .text p {
        text-align: left;
        font-size: 16px;
    }
    .text h2 { 
        font-size: 18px;
    }
    h1 {
        font-size: 32px;
    }

    .concertGrid {
        display: flex;
        justify-content: center;
        height: auto;
        margin-top: 0px
    }
    .concertRow {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: auto;
    }
    .concertBox {
        width: 100%;
        height: auto;
        margin-top: 40px;
    }
    .concertBoxViewMore {
        height: auto;
        transition-duration: 0s;
        opacity: 1;
        background-color: rgba(255,255,255,0.9);
    }
    .showDescription {
        font-size: 16px;
        text-indent: 0;
    }

    .rowShow {
        background-image: url("img/showName.png");
    }
    .showName {
        font-size: 20px;
        width: 90%;
        padding: 10px 0 10px 0;
        margin: 0 5% 0 5%;
    }
    .time {
        font-size: 14px;
        padding: 0;
        margin-right: 10%;
        margin-left: 5%;
        width: 90%;
        justify-content: space-between;
    }
    

}

@media screen and (max-width: 400px) { 
    .dateBox {
        min-width: 80px;
        min-height: 80px;
        max-width: 80px;
        max-height: 80px;
        background-image: url("img/circle_small.png");
        margin: 0;
    }
    .date p{
        font-size: 20px;
        margin: 0;
        padding: 0;
        height: 28px;
        padding-top: 16px;
    }
    .dateSmall p{
        font-size: 18px;
        margin: 0;
        padding: 0;
        height: 18px;
        padding-bottom: 18px;
    }
    .showName {
        font-size: 18px;
    }
    .infoRowTitle{
        font-size: 16px;
    }
    .infoRowNames {
        font-size: 14px;
    }
    .time {
        margin: 0;
        width: 95%;
        margin-right: 5%;
    }
    .showDescription{
        font-size: 14px;
    }
}



